[submodule "lib/aave-address-book"]
	path = lib/aave-address-book
	url = https://github.com/bgd-labs/aave-address-book
[submodule "lib/gho-core"]
	path = lib/gho-core
	url = https://github.com/aave/gho-core
